data/train/s2ef_predictions_partial1.npz filter=lfs diff=lfs merge=lfs -text
data/test/errs_latents_frame-1.npz filter=lfs diff=lfs merge=lfs -text
data/calib/errs_latents_frame-1.npz filter=lfs diff=lfs merge=lfs -text
